// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$blue: hsl(217, 71%, 53%);
$primary: $blue;

@import 'bulma/bulma';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

.nav {
  background: $primary;
  padding: 1rem;

 a {
    color: white;
  }
}

.is-primary {
  color: $primary;
}

.is-brand {
  font-size: 1.2rem;
  font-weight: normal;
}

.is-square {
  img {
    object-fit: cover;
  }
}

.button {
  transition: all 800ms;
}

.level {
  border-bottom: 0.1rem black solid;
  padding-bottom: 2rem;
}
